<form action="{{API}}book/" class="fake new-book" method="post" id="popup-form">
  <ul class="nav nav-pills counter" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab"><span class="counter-item counter-circle"></span> 基础信息</a></li>
    <li role="presentation"><a href="#template" aria-controls="template" role="tab" data-toggle="tab"><span class="counter-item counter-circle"></span> 选择模板</a></li>
  </ul>

  <div class="tab-content mt2e">
    <div role="tabpanel" class="tab-pane active" id="basic">
      <div class="form-group">
        <label for="book-name">作品名称</label>
        <input class="form-control" name="book-name" id="book-name" placeholder="作品名称" required>
      </div>
      <div class="form-group">
        <label for="book-type">作品类型</label>
        <select class="form-control" name="book-type" id="book-type">
          {{#each types}}
            <option value="{{@index}}">{{.}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="book-desc">作品简介 <span class="text-muted">（可选）</span></label>
        <textarea class="form-control" name="book-desc" id="book-desc" placeholder="作品简介" rows="3"></textarea>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="template">
      <div class="row template-list" data-url="{{API}}template/">
        <script type="text/x-handlebars-template">
        {{{{raw-helper}}}}
        <div class="col-sm-6 item">
          <input type="radio" name="template" id="template-{{id}}" value="{{id}}">
          <label for="template-{{id}}">
            <img src="{{thumbnail}}" class="img-thumbnail">
            <span>{{title}}</span>
          </label>
        </div>
        {{{{/raw-helper}}}}
        </script>
      </div>
    </div>
  </div>
</form>